.container {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-auto-rows: minmax(150px, auto);
    grid-gap: 10px;
    background-color: #ee9972;
}


body {
    margin: 20px;
}

.box {
    background-color: #247;
    color: #fff;
    margin: 10px;
    padding: 15px;
    border-radius: 15px;
    font-size: 150%;
}


.row {
    display: flex;
    align-items: stretch;
}

.row .label {
    flex: 0 0 auto;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.row .container {
    flex: 1;
    display: flex;
    justify-content: flex-start;
}

.row .dish {
    display: flex;
    justify-content: center;
    align-items: center;
}

.pasta {
    background-color: #ee9972;
}

.pizza {
    background-color: beige;
}

.burrito {
    background-color: lightgreen;
}


